# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
5. TensorFlow
7. ggplot2

| Data Science Tools |
|--------------------|
| RStudio |
| Jupyter Notebook |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- Popular laguages in Data Science
- Common libraries in Data Science
- Tools in Data Science

## Author:
Michael Romanenko